.gitignore
./.idea
./__pycache__
/.idea/dataSources.xml
/.idea/flaskProject1.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/Car-rental.iml
/.idea/
