{% extends "layout.html" %}
{% block body %}

    <section  style="background-image: url('/static/carbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/customer/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; background-color: rgba(255,255,255,0.85);">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Search A Car</h2>

                                <form method="post">


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Brand</label>
                                        <input type="text" id="form3Example1cg" placeholder="Mercedes" class="form-control form-control-lg" name="brand" >
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Model</label>
                                        <input type="text" id="form3Example1cg" placeholder="C-180" class="form-control form-control-lg" name="model" >
                                    </div>

                                    <div class="form-outline mb-4">Start Date</label>
                                        <input type="date" id="form3Example1cg" class="form-control form-control-lg" name="start_date">
                                    </div>

                                    <div class="form-outline mb-4">Start Date</label>
                                        <input type="date" id="form3Example1cg" class="form-control form-control-lg" name="end_date">
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Color</label>
                                        <input type="text" id="form3Example3cg" placeholder="black" class="form-control form-control-lg" name="color" >
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="register">Search</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Not Sure Which Car? <a href="/car/cars" class="fw-bold text-body"><u>Find All Cars</u></a></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}