{% extends "layout.html" %}
{% block body %}

    <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; background-color: rgba(255,255,255,0.85);">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Reserve A Car</h2>

                                <form method="post">


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Pickup Date</label>
                                        <input type="date" id="form3Example1cg" class="form-control form-control-lg" name="start_date" required >
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Return Date</label>
                                        <input type="date" id="form3Example1cg" class="form-control form-control-lg" name="end_date" required>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="reserve" value="with_pay">Reserve & Pay</button>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="reserve" value="no_pay">Reserve Without Paying</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">Not Sure Which Car? <a href="/car/cars" class="fw-bold text-body"><u>Find All Cars</u></a></p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}