.gradient-custom-3 {
    /* fallback for old browsers */
    background: #0f3f6a;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(9, 41, 64), rgb(143, 211, 244));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(9, 41, 64), rgb(143, 211, 244))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #0f3f6a;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(9, 41, 64), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(9, 41, 64), rgba(143, 211, 244, 1))
}