{% extends "layout.html" %}
{% block body %}


    <section  style="background-image: url('/static/carbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; background-color: rgba(255,255,255,0.85);">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <form  method="post" enctype="multipart/form-data">



                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Plate ID</label>
                                        <input type="text" id="form3Example1cg" placeholder="PlateID" class="form-control form-control-lg" name="plateID" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Model Year</label>
                                        <input type="number" id="form3Example1cg" class="form-control form-control-lg" name="modelYear" min="1950" max="2022" step="1" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example1cg">Car Brand</label>
                                        <input type="text" id="form3Example1cg"  class="form-control form-control-lg" name="brand" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Car Model</label>
                                        <input type="text" id="form3Example3cg"  class="form-control form-control-lg" name="model" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Car Color</label>
                                        <input type="text" id="form3Example4cg"  class="form-control form-control-lg" name="color" required>
                                    </div>

                                     <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Car Rate</label>
                                        <input type="number" id="form3Example4cg" min=1  class="form-control form-control-lg" name="rate" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cg">Office Location</label>
                                        <input type="text" id="form3Example4cg" min=1  class="form-control form-control-lg" name="officeloc" required>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4cdg">Car Image</label>
                                        <input type="file" id="form3Example4cdg"  class="form-control form-control-lg" name="image" required>
                                    </div>


                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="register">Register</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}