/* Cards */
/* 
COLORS - SAND: #CCC5B9, DARK BROWN: #252422, BLUE: #577590
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #fff;
}

body {
  
}

.wrapper {
	display: flex;
	width: 100%;
  height: min-content;
  position: relative;
  background-color: #ccc5b9;
  flex-wrap: wrap;
    /*flex-direction: row;*/
    justify-content: center;
}

.card {
  max-width: 70%;
  position: relative;
  display: flex;
  padding: 10px;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* box-shadow: -2rem 2rem 3.2rem rgba(0, 0, 0, 0.2); */
}

.product-left {
    height: 100%;
	min-width: 240px;
    padding: 0 2rem;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  background: #191919;
  color: #fff;
}

.product-right {
  background: #fff;
  height: auto;
  /* width: 100%; */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-right img {
	height: 280px;
	width: 246px;
	object-fit: cover;
}

.headerp h1 {
  text-transform: uppercase;
  margin-top: 2rem;
   font-size: 35px;
	font-family: bebas
}

/* Price */

.headerp h2 {
  margin: 0rem 0 2rem 0;
  font-weight: 300;
  }

/* Product Description */

.product-main p {
  opacity: 0.5;
  margin: 2rem 0;
  line-height: 1.45;
}

.focus {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0 0 0.9rem 0;
  border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
}

.focus span:last-child {
  margin: 0 0 0 1rem;
  width: 100%;
}

.focus span:first-child {
  border-bottom: 0.2rem solid #fff;
  padding: 0 0 0.9rem 0;
}

/* Choose color / quantity  */

.btns-group {
  width: 100%;
  margin: 0 0 2rem 0;
}

/* Total Price  */

.product-total {
  margin: 0 0 0 0;
}

.product-total p {
  font-weight: 700;
  font-size: 2rem;
  opacity: 0.5;
}

.product-total h3{
  margin: 0 0 1rem 0;
}


/* Add to cart button  */

.product-add {
  border: 1px solid #FFFFFF;
	background-color: #191919;
  width: 80%;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 5px;
	margin-bottom: 15px;
  transition: all 0.5s ease-out;
}

.product-add:hover {
  background-color: #fff;
  color: #2e282a;
}

.product-btns {
	align-self: center;
	width: 80%;
}

.product-btns a {

  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* enCards */

.allcontain{
	margin-left: auto;
	margin-right: auto;
}

.header{
	background-color: #191919;
	padding: 2px;
	font-family: 'BebasNeue Regular';
	font-size: 15pt;
}
.header>ul>li>a{
	color: white;
	text-decoration: none;
}
.header>ul>li>a:hover{
	color: #C59E47;
}
.headerLeft{
	list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding-left: 2%;
}
.headerRight{
	list-style-type: none;
	display: inline-block;
	float: right;
	padding-right: 2%;
}
.headerRight>li{
	float: left;

}
.headerRight>li>a{
	padding-right: 6px;
}
.headerRight .vLine{
	border-left: 1px solid #ffffff;
	padding-left: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}
/*----------------------End Header --------------------*/

@font-face {
  font-family: "BebasNeue Regular";
    src: url(../source/fonts/BebasNeue-Regular.otf) format("truetype");
}
 .buttonito{
	 cursor: pointer;
    background: none;
	text-decoration: none;
    border: 1px solid #FFFFFF;
    font-family: 'BebasNeue Regular';
    margin-left: 10px;
    font-size: 25px;
    color: #FFFFFF;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: -2px;
    padding-bottom: -2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
 }
.buttonito:hover{
	text-decoration: none;
	color: black;
}


 #navbarontop>button:hover{
 	background-color: #C59E47;
 	color: #fff;
 }
 .dropdowncostume{
 	margin-left: 0px;
 }
 .navbar-default .toggle-costume:hover,
.navbar-default .toggle-costume:focus {
  background-color: #000;
}
.navbar-default .toggle-costume.icon-bar {
  background-color: #fff;
}
.navbar-default .toggle-costume:hover .icon-bar {
  background-color: #fff;
}
#navbarontop .open > a,
#navbarontop .open > a:hover,
#navbarontop .open > a:focus {
	background-color: none!important;
  border-color: #C59E47;
}
#navbarontop a:focus {
  outline: none;
  border-bottom: 2px solid #C59E47; 
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	font-family: 'BebasNeue Regular';
	font-size: 13pt;
	color: #000;
	background-color: rgba(255,255,255,.5);
	text-align: center;

}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: #fff;
}
.dropdown.open .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

 /*----------------- Navbar On Top Media screen -------------*/
.topnavbar .container{
	margin-left: 10px !important;
}
.logo{
	position: absolute;
	top:0px;
	padding-top: 9px;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
    -o-transform: scale(0.5); /* Opera 10.5+ */
     transform: scale(0.5);
}
.toggle-costume{
	float: right;
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 26px; 
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
 #navbarontop>button{
 	margin-left:50px;
 
 }
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}

.toggle-costume{
float: right;
}
 #navbarontop>button{
 	margin-left:50px;
 
 }
.logo{
	position: absolute;
	top:10px;
	padding-top: 9px;
	-webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7); /* FF3.5+ */
    -ms-transform: scale(0.7); /* IE9 */
    -o-transform: scale(0.7); /* Opera 10.5+ */
     transform: scale(0.7);
}
#navbarontop{
	 padding-left: 0px;
	padding-top: 40px; 
	height: 250px;
}
#navbarontop>li>a{
	margin-left: 0px;
	padding-left: 50px;
	font-size: 13pt;
	margin-bottom: 10px;

}
.navbar-default .navbar-nav .open .dropdowncostume > li > a {
	text-align: left;
	margin-left: 40px;
}
#upmenu{
	margin-bottom: 15px;
}
/* ------------------------ End Navbar On Top -----------------*/
/*------------------------- Start Carousel --------------------*/


@font-face{
	font-family: "OpenSans Semibold";
	src: url(../source/fonts/OpenSans-Semibold.ttf) format("truetype");

}
.carousel-caption{
	z-index: 999;
}
.carousel-caption>h2{
	text-align: left;
	font-family: 'BebasNeue Regular';
	font-size: 40pt;
	color: rgba(248,199,45,1);
	text-shadow: 0 10px 10px rgb(0 0 0 / 20%);

}
@font-face{
	font-family: "OpenSans Regular";
	src:url(../source/fonts/OpenSans-Regular.ttf) format("truetype");
}
.carousel-caption>h2>p{
font-family:'OpenSans Regular';
font-size: 15.88pt;
}
.carousel-caption {
    top: 35%;
    left:13%;
    right:auto;
    bottom: auto;
}
.carousel-caption>p{
font-size: 10pt;
}	

/* -----------------------------Second Navbar ---------------------------------------*/
.downicon{
	padding-left: 40px;
}
.midle-nav{
	background: rgba(248,199,45);
 	border: 0px;
 	position: relative;
 	bottom: 0px;
 	width: 100%;
 	margin: 0px;
 	border-radius: 0px;
	text-align: center;
}

.searchtxt>h1{
	text-align: center;
	font-family: 'BebasNeue Regular';
	font-size: 22pt;
	color: #000000;
	margin-top: 14px;
/*	margin-bottom: 14px;*/
/*	padding-left: 15px;*/
	max-width: 1349px;

}
.navbar-default .textcostume:hover,
.navbar-default .textcostume:focus {
  background-color: #fff;
}
.navbar-default .textcostume:hover .icon-bar {
  background-color: #000;
}
.navbar-default .textcostume:focus .icon-bar{
	background-color: #000;
}
.navbar-default .textcostume .icon-bar {
  background-color: #fff;
}
.navbar-default .textcostume {
  border-color: #fff;
}
.navbar-default .textcostume {
  border-color: #fff;
}
.navbarborder>li{
	margin-right: 9px;
}
.navbarborder>li>a{
	font-family: "OpenSans Regular";
	font-size: 13pt;
	color: #fff !important;
	background-color: none;
	padding-top: 11px;
	padding-bottom: 11px;
	border: 1px solid #fff!important;
}
.navbarborder>li>a:hover{
	color: #F8C72D !important;
	background-color: #fff!important;

}
.navbarborder>li:last-child{
 	padding-right: 0px;
 	margin-right: 0px;
	margin-left: 30px;
	padding-right: 0px;
}
.searchform{
	color: black;
	font-family: "bebas";
	font-size:16pt;
	font-weight: 100;
	text-align: center;
	background: none;
	margin: 5px;
	border: 1px solid #FFFFFF;
	border-radius: 0px;
	box-shadow: unset;
}

.form-group{
	width: 100%;
	text-align: center;
}
.frto{
	color: #FFFFFF;
	font-family: "BebasNeue Regular";
	font-size: 18px;
	font-weight: lighter;
}
.searchform:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, .6);
}
.searchform::-webkit-input-placeholder {
    color: #FFFFFF;
    font-family: "bebas";
    font-size:16pt;
	font-weight: 100;
	text-align: center;
}

.searchform::-moz-placeholder {
    color: #fff;
    font-family: "OpenSans Regular";
    font-size: 13pt;
}
.searchnav{
	margin-right: 7.3%;
}
.searchbutton{
	border: 0px;
	background: none;
	background-color: none;
	font-size: 13pt;
	color: #fff;
	padding-top: 20px;
}
.btn-costume{
	border-radius: 0px;
}

.btn{
	margin-top: 20px;
}

/*   ---------------------------   fetured cars   ---------------------------------    */
@font-face{
	font-family: "OpenSans-Light";
	src: url(../source/fonts/OpenSans-Light.ttf) format("truetype");
}

.card-body{
	margin-right: auto;
	margin-left: auto;
	max-width: 400px;
}

.feturedsection>h1{
	font-family: "OpenSans-Light";
	font-size: 41px;
	padding-top: 46px;
	padding-bottom: 50px;
	color: #020243;
}

.carstxt{
	padding-left: 45px;
	padding-right: 88px;
}
.bdots{
	padding-right: 40px;
} 
.row{
	padding: 0px;
	margin: 0px;

}
.bdots{
	padding-right: 15px;
} 
.carstxt{
	padding-left: 20px;
	padding-right: 15px;
}
/*-------------------------------------Bottom Menu -----------------------------------------------*/
 .bottommenu{
 	position: relative;
	 align-content: center;
 	top:60px;
 }
.bottommenu>img{
	padding-left:50%;
	margin-left: -20px;
	margin-bottom: 35px;
	margin-top: 54px;
}
  .bottommenu>p{
  	text-align: center;
  	font-family: "OpenSans Regular";
  	font-size: 13px;
  	color: #707070;
  	padding-top: 10px;
  }

@font-face{
	font-family: "Roboto Light";
	src: url(../source/fonts/Roboto-Light.ttf) format("truetype");
}

.footer{
background-color: #191919;
width: 100%;
height: 30px;
}
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
