<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Manage Cars</title>
	<link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
</head>
<script src="/static/admin.js">
</script>
<body>

<!----- HEADER ----->

<div class="header">
	<ul class="headerLeft">
		<li><a href="/home" class="logreg">CLASSICAR</a></li>
	</ul>
	<ul class="headerRight">
		<li><a href="/admin/Reports">Reports </a> </li>
		<li><a href="/logout"><span class="vLine">Logout</span></a></li>
	</ul>
</div>
<!--_______________________________________ Search__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<h2 align="center" style="font-family: bebas">Adminstration&nbsp;</h2>
		<nav class="navbar navbar-default midle-nav">
<div class="collapse navbar-collapse" id="navbarmidle">
		  <div class="searchtxt"> </div>
				<form action="/admin/search_car" class="navbar-form navbar-left searchformmargin" method="post" oninput="setTimeout(live_search,1000)" >
					<div class="form-group col-lg-2">
						<input type="text" class="form-control searchform" name="plateID" placeholder="Car Plate">
                        <input type="text" class="form-control searchform" name="brand" placeholder="Car Brand">
                        <input type="text" class="form-control searchform" name="model" placeholder="Car Model">
                        <input type="number" min = 1950 class="form-control searchform" name="modelYear" placeholder="Card Model Year">
                        <input type="text" class="form-control searchform" name="color" placeholder="Car Color">
                        <input type="text" class="form-control searchform" name="active" placeholder="Car Status">
                        <input type="text" class="form-control searchform" name="rate" placeholder="Rate">
                        <input type="text" class="form-control searchform" name="officeloc" placeholder="Office Location">
                       <br> <a href="/admin/register_car" class="buttonito">Add New Car</a>

				  </div>
				</form>
			</div>
		</nav>
	</div>
</div>
<!-- ____________________Featured Section ______________________________-->
 <div  id="carbody">
    	<div class="wrapper">
	   {% for car in cars %}

                <div class="card">
                    <form action="/admin/car/{{ car['plateid'] }}" class="card" method="get">
                          <div class="product-left">
                                <div class="headerp">
                                    <h1>{{ car['brand'] + " " + car['model'] }}</h1> <!--Brand and Model-->
                                </div>
                                <div class="product-main">
                                    <div class="focus"> </div>
                                </div>
                                <div class="product-details">
                                      <div class="product-total">
                                          <h4>Plate: {{ car['plateid'] }}</h4>
                                        <h4>Price/Day: {{ car['rate'] }}</h4>
                                        <h4>Color: {{ car['color'] }}</h4>
                                        <h4>{{ car['active'] }}</h4>
                                        <h4>Location: {{ car['officeloc'] }}</h4>

                                      </div>
                                </div>
                                        <div class="product-btns">
                                          <button  type="submit" class="product-add"> Car Details </button>
                                        </div>
                          </div>
                          <div class="product-right">
                                <img src="{{ car['img'] }}" alt="Car here" >
                          </div>
                    </form>
                </div>
        {% endfor %}
</div>
</div>

	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">

		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
		 <img src="../static/image/line.png" alt="line"> <br>
			<div class="footer"> </div>
	</div>
</body>
</html>