<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Car Details</title>
    <link rel="stylesheet" type="text/css" href="/static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/style/mystyle.css">
</head>

<body>

<!----- HEADER ----->

<div class="header">
    <ul class="headerLeft">
        <li><a href="#" class="logreg">CLASSICAR</a></li>
    </ul>
    <ul class="headerRight">
        <li><a href="/admin/admin_home">Manage Cars </a> </li>
        <li><a href="/logout"><span class="vLine">Logout</span></a></li>
    </ul>
</div>

<div style="background-color: rgba(248,199,45,1)">
    <br>
</div>

	<div class="wrapper">
                <div class="card">
                    <form action="/admin/car/{{ car['plateid'] }}" class="card" method="post">
                          <div class="product-left">
                                <div class="headerp">
                                    <h1>{{ car['brand'] + " " + car['model'] }}</h1> <!--Brand and Model-->
                                </div>
                                <div class="product-main">
                                    <div class="focus"> </div>
                                </div>
                                <div class="product-details">
                                      <div class="product-total">
                                          <h4>Plate: {{ car['plateid'] }}</h4>
                                        <h4>Price/Day: {{ car['rate'] }}</h4>
                                        <h4>Color: {{ car['color'] }}</h4>
                                        <h4>{{ car['active'] }}</h4>
                                        <h4>Location: {{ car['officeloc'] }}</h4>
                                      </div>
                                     <div class="form-outline mb-4">
                                        <h4>New Rate:</h4>
                                        <input type="number" min=1 id="rate" class="form-control form-control-lg" name="rate" value="{{ car['rate'] }}" placeholder="{{ car['rate'] }}" ><br>
                                         <input type="radio" id="active" name="active" value='True' required>
                                         <label >Active</label><br>
                                        <input type="radio" id="outofservice" name="active" value='False' required>
                                        <label >Out of Service</label><br>
                                    </div>

                                </div>
                                        <div class="product-btns">
                                          <button  type="submit" class="product-add"> Save Changes</button>
                                        </div>
                          </div>
                          <div class="product-right">
                                <img src="{{ car['img'] }}" alt="Car here" >
                          </div>
                    </form>
                </div>
</div>

	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">

		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
			<div class="footer"> </div>
	</div>
</body>
</html>