<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Search Cars</title>
	<link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
</head>
<body>

<!----- HEADER ----->

<div class="header">
	<ul class="headerLeft">
		<li><a href="/home" class="logreg">CLASSICAR</a></li>
	</ul>
	<ul class="headerRight">
		<li><a href="/customer/reservations">My Reservations</a> </li>
		<li><a href="/logout"><span class="vLine">Logout</span></a></li>
	</ul>
</div>
<!--_______________________________________ Search__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<nav class="navbar navbar-default midle-nav">
			<div class="collapse navbar-collapse" id="navbarmidle">
				<div class="searchtxt">
					<h1 style="color: black">SEARCH CARS</h1>
				</div>
				<form class="navbar-form searchformmargin" onSubmit="return searchCars(Brand,Model)" method="post">
					<div class="form-group col-lg-2">
						<input type="text" class="form-control searchform" name="brand" placeholder="Brand">
						<input type="text" class="form-control searchform" name="model" placeholder="Model">
						<input type="text" class="form-control searchform" name="color" placeholder="Color">
						<br>
						<label class="frto" >From:</label>
						<input type="date" class="form-control searchform" name="start_date" placeholder="Pickup Date">
						<label class="frto" >To:</label>
						<input type="date" class="form-control searchform" name="end_date" placeholder="Return Date">
						<br>
						<button class="searchbutton" type="submit" style="margin: 10px;"  name="submit_type" value="search"><span class="glyphicon glyphicon-search "></span></button>
					</div>
				</form>
			</div>
		</nav>
	</div>
</div>
<!-- ____________________Featured Section ______________________________--> 

	<div class="wrapper">
        {% for car in cars %}

                <div class="card">
                    <form action="customer_reserve/{{ car['plateid'] }}" class="card" method="get">
                          <div class="product-left">
                                <div class="headerp">
                                    <h1>{{ car['brand'] + " " + car['model'] }}</h1> <!--Brand and Model-->
                                </div>
                                <div class="product-main">
                                    <div class="focus"> </div>
                                </div>
                                <div class="product-details">
                                      <div class="product-total">
                                        <h3>Price/Day: {{ car['rate'] }}</h3> <!--Price-->
                                        <h3>Color: {{ car['color'] }}</h3>  <!--Brand and Model-->
                                        <label hidden id="{{ car['plateid'] }}">{{ car['plateid'] }}</label>
                                      </div>
                                </div>
                                        <div class="product-btns">
                                            <button type="submit" class="product-add">RENT CAR</button>
                                        </div>
                          </div>
                          <div class="product-right">
                                <img src="{{ car['img'] }}" alt="Car here" >
                          </div>
                    </form>
                </div>
        {% endfor %}
    </div>

	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		
		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
		 <img src="../static/image/line.png" alt="line"> <br>
			<div class="footer"> </div>
	</div>
<script src="../static/customer.js" type="text/javascript"></script>
</body>
</html>