<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Cars</title>
    <link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/searchStyle.css">
</head>
<body onload="mytest();">
<!----- HEADER ----->

<div class="header">
    <ul class="headerLeft">
        <li><a href="#" class="logreg">CLASSICAR</a></li>
    </ul>
    <ul class="headerRight">
        <li><a href="/redirect/Reservations.html">My Reservations </a> </li>
        <li><a href="#"><span class="vLine">Logout</span></a></li>
    </ul>
</div>

<!----- SEARCH BAR ----->

<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<nav class="navbar navbar-default midle-nav">
			<div class="collapse navbar-collapse" id="navbarmidle">
				<div class="searchtxt">
					<h1 style="color: black">SEARCH CARS</h1>
				</div>
				<form class="navbar-form navbar-left searchformmargin" onSubmit="return searchCars(Brand,Model)">
					<div class="form-group">
						<input type="text" class="form-control searchform" name="Brand" placeholder="Brand">
						<input type="text" class="form-control searchform" name="Model" placeholder="Model">
						<input type="text" class="form-control searchform" placeholder="Color">
						<label style="color: #FFF" >From:</label>
						<input type="date" class="form-control searchform" placeholder="Pickup Date">
						<label style="color: #FFF" >To:</label>
						<input type="date" class="form-control searchform" placeholder="Return Date">
					</div>
					<button class="searchbutton" type="submit" style="margin: 10px;"><span class="glyphicon glyphicon-search "></span></button>
				</form>
			</div>
		</nav>
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Porshe 911</h2>
      </div>
      <div class="modal-body">
        <div class="product-right" style="float: right;">
            <img src="../static/image/featurporch.jpg" alt="">
          </div>
        <p>Price per day: </p>
        <p>Color:</p>
        <label> Pickup Date:</label>
        <input type="date" name="" id="">
        <br>
        <label> Return Date:</label>
        <input type="date" name="" id="">

      </div>
      <div class="modal-footer">
          <div class="modal-btns">
            <a href="#" class="white-btn">Reserve and Pay</a>
            <a href="#" class="white-btn">Reserve Only</a>
        </div>
      </div>
  </div>
</div>

<!----- CARS  ----->

<div class="wrapper">
    <div class="card">
      <div class="product-left">
        <div class="headerp">
          <h1>Porshe 911</h1> <!--Brand and Model-->
        </div>
        <div class="product-main">
          <div class="focus"> </div>
        </div>
        <div class="product-details">
          <div class="product-total">
            <h3>Price/Day: 13 $</h3> <!--Price-->
            <h3>Color: Cyan</h3>  <!--Brand and Model-->
              
          </div>
        </div>
        <div class="product-btns">
          <a href="#" id="myBtn" class="product-add">RENT CAR</a>
        </div>
      </div>
      <div class="product-right">
        <img src="../static/image/featurporch.jpg" alt="">
      </div>
    </div>

    <div class="card">
        <div class="product-left">
          <div class="headerp">
            <h1>Porshe 911</h1> <!--Brand and Model-->
          </div>
          <div class="product-main">
            <div class="focus"> </div>
          </div>
          <div class="product-details">
            <div class="product-total">
              <h3>Price/Day: 13 $</h3> <!--Price-->
              <h3>Color: Cyan</h3>  <!--Brand and Model-->
            </div>
          </div>
          <div class="product-btns">
            <a href="#" class="product-add">RENT CAR</a>
          </div>
        </div>
        <div class="product-right">
          <img src="../static/image/featurporch.jpg" alt="">
        </div>
    </div>

      <div class="card">
        <div class="product-left">
          <div class="headerp">
            <h1>Porshe 911</h1> <!--Brand and Model-->
          </div>
          <div class="product-main">
            <div class="focus"> </div>
          </div>
          <div class="product-details">
            <div class="product-total">
              <h3>Price/Day: 13 $</h3> <!--Price-->
              <h3>Color: Cyan</h3>  <!--Brand and Model-->
                
            </div>
          </div>
          <div class="product-btns">
            <a href="#" class="product-add">RENT CAR</a>
          </div>
        </div>
        <div class="product-right">
          <img src="../static/image/featurporch.jpg" alt="">
        </div>
      </div>

      <div class="card">
        <div class="product-left">
          <div class="headerp">
            <h1>Porshe 911</h1> <!--Brand and Model-->
          </div>
          <div class="product-main">
            <div class="focus"> </div>
          </div>
          <div class="product-details">
            <div class="product-total">
              <h3>Price/Day: 13 $</h3> <!--Price-->
              <h3>Color: Cyan</h3>  <!--Brand and Model-->
                
            </div>
          </div>
          <div class="product-btns">
            <a href="#" class="product-add">RENT CAR</a>
          </div>
        </div>
        <div class="product-right">
          <img src="../static/image/featurporch.jpg" alt="">
        </div>
    </div>
</div>

<!----- FOOTER ----->

<div class="bottommenu">
		
    <p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
        </p>
     <img src="../static/image/line.png" alt="line"> <br>
        <div class="footer"> </div>
</div>
<script src="../static/customer.js" type="text/javascript"></script>

    
</body>
</html>