<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body>
<!-- Header -->
<div class="allcontain">
    <div class="header" style="padding: 2px">
        <ul class="socialicon">
            <li><a href="/home" class="logreg">CLASSICAR</a></li>
        </ul>
    </div>
    <!-- Navbar Up -->
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse"
                        data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigaion</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand logo" href="#"><img src="image/logo1.png" alt="logo"></a> -->
            </div>
        </div>
    </nav>
</div>
<!--_______________________________________ Search__________________________________ -->

<div class="align-items-center">
    <div class="card-body p-5" style="max-width: 400px; margin: 50px 450px">
        <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Login</h2>

        <form id="loginForm">

            <div class="form-outline mb-4">
                <label class="form-label" for="loginUsername">Username</label>
                <input type="text" id="loginUsername" placeholder="Username" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="loginPassword">Password</label>
                <input type="password" id="loginPassword" placeholder="Password" class="form-control form-control-lg"
                       name="password" required>
            </div>

            <input type="radio" id="admin" name="role" value="admin" required>
            <label for="admin">Admin</label><br>
            <input type="radio" id="customer" name="role" value="customer" required>
            <label for="customer">Customer</label><br>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Login
                </button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">Do not have an account? <a href="/auth/register"
                                                                                   class="fw-bold text-body"><u>Register
                here</u></a></p>

        </form>

    </div>
</div>
</section>
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel"></div>
</div>

<!-- ______________________________________________________Bottom Menu ______________________________-->
<div class="bottommenu">

    <p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
    </p>
    <img src="../static/image/line.png" alt="line"> <br>
    <div class="footer"></div>
</div>
</body>
</html>