<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reports</title>
	<link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
    <script src="{{ url_for('static', filename='Reports.js') }}"></script>
    <link rel="stylesheet" href="/static/Reports_show.css">
</head>
<body>
<!----- HEADER ----->

<div class="header">
    <ul class="headerLeft">
        <li><a href="#" class="logreg">CLASSICAR</a></li>
    </ul>
    <ul class="headerRight">
        <li><a href="/admin/Reports">Reports </a> </li>
        <li><a href="/logout"><span class="vLine">Logout</span></a></li>
    </ul>
</div>
<!--_______________________________________ Table__________________________________ -->
<div class="allcontain">
	<div class="carousel slide" data-ride="carousel">
		<h2 align="center" style="font-family: bebas">RESULTS OF {{kind}}!</h2>
  </div>
</div>
<table class="table">
     <tr class="table__header">
        {% for header in title %}
        <th >{{ header }}</th>
        {% endfor %}
    </tr>
</table>
<table class="table">
    <tr class="table__header">
        {% for header in headings %}
        <th class="table__cell">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="table__row">
        {% for cell in row %}
        <td class="table__cell">
            {{ cell }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">

		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
		 <img src="../static/image/line.png" alt="line"> <br>
			<div class="footer"> </div>
	</div>
</body>
</html>