<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Reports</title>
	<link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
    <script src="{{ url_for('static', filename='Reports.js') }}"></script>

</head>
<body>
<!-- Header -->
<div class="allcontain">
	<div class="header" style="padding: 2px">
			<ul class="socialicon">
				<li><a href="/home" class="logreg">CLASSICAR</a></li>
			</ul>
			<ul class="logreg">
				<li><a href="/home">Manage Cars </a> </li>
				<li><a href="/logout"><span class="register">Logout</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->

</div>
<!--_______________________________________ Search__________________________________ -->
<<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<h2 align="center" style="font-family: bebas">Reports</h2>
		<nav class="navbar navbar-default midle-nav">
<div class="collapse navbar-collapse" style="padding: 20px ;"  id="navbarmidle">
	<a onclick="showform(1)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px; margin: 20px">All Reservations</a>
	<a onclick="showform(2)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px;margin: 20px">Car Reservations</a>
	<a onclick="showform(3)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px;margin: 20px">Customer Reservations</a>
    <a onclick="showform(4)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px; margin: 20px">Payments</a>
	<a onclick="showform(5)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px;margin: 20px">Status</a>
	<a onclick="showform(6)" class="product-add" style="border-radius: 2px; color: white ; font-family: bebas; font-size: 25px; padding: 5px 15px;margin: 20px">Car availability</a>
		  </div>
	  </nav>
  </div>
</div>
<!-- ____________________Featured Section ______________________________--> 


<div class="align-items-center">
    <div class="card-body p-5" style="max-width: 400px; margin: 50px 450px">
     <form id="allReservForm">
         <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">All reservations</h2>
            <div class="form-outline mb-4">
                <label class="form-label" for="arDate1">start date</label>
                <input type="date" id="arDate1" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="arDate2">end date</label>
                <input type="date" id="arDate2" class="form-control form-control-lg"
                       name="password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>
        <form id="carReservForm">
            <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Car reservations</h2>
                        <div class="form-outline mb-4">
                <label class="form-label" for="plateID">plateID</label>
                <input type="text" id="crId" placeholder="plateID" class="form-control form-control-lg"
                       name="username" required>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="crDate1">start date</label>
                <input type="date" id="crDate1" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="crDate2">end date</label>
                <input type="date" id="crDate2" class="form-control form-control-lg"
                       name="password" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>
        <form id="cusReservForm">
            <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Customer reservations</h2>
                <div class="form-outline mb-4">
                <label class="form-label" for="cusrID">customer</label>
                <input type="text" id="cusrID" placeholder="Enter customerID or username or email" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>
        <form id="payments">
            <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Payments</h2>
                     <div class="form-outline mb-4">
                <label class="form-label" for="pID">customer</label>
                <input type="text" id="pID" placeholder="Enter customerID or username or email" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>
        <form id="statusForm">
            <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Car status</h2>

             <div class="form-outline mb-4">
                <label class="form-label" for="sfDate">date</label>
                <input type="date" id="sfDate" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>
          <form id="avaibForm">
            <h2 class="text-uppercase text-center mb-5" style="font-family: bebas">Available cars</h2>

             <div class="form-outline mb-4">
                <label class="form-label" for="afDate">date</label>
                <input type="date" id="afDate" class="form-control form-control-lg"
                       name="username" required>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" name="login"
                        style="background-color: #F8C72D">Search!
                </button>
            </div>

        </form>

    </div>
</div>
</section>
<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel"></div>
</div>

	<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		
		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
		 <img src="../static/image/line.png" alt="line"> <br>
			<div class="footer"> </div>
	</div>
<script src="../static/customer.js" type="text/javascript"></script>
</body>
</html>