<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My Reservations</title>
	<link rel="stylesheet" type="text/css" href="../static/source/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/style/mystyle.css">
</head>
<body>

<!----- HEADER ----->

<div class="header">
	<ul class="headerLeft">
		<li><a href="/home" class="logreg">CLASSICAR</a></li>
	</ul>
	<ul class="headerRight">
		<li><a href="/customer/customer_home">Search</a> </li>
		<li><a href="/logout"><span class="vLine">Logout</span></a></li>
	</ul>
</div>
<!--_______________________________________ reservations__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<h2 align="center" style="font-family: bebas">My Reservations</h2>
		<nav class="navbar navbar-default midle-nav">
<div class="collapse navbar-collapse" style="padding: 20px ;text-align: center;"  id="navbarmidle">
	<a href="/customer/reservations/past" class="buttonito">Past Reservations</a>
	<a href="/customer/reservations/current" class="buttonito" >Current Reservations</a>
	<a href="/customer/reservations/pending" class="buttonito" >Pending Reservations</a>
		  </div>
	  </nav>
  </div>
</div>
<!-- ____________________Featured Section ______________________________--> 

	<div class="wrapper"> </div>

<!-- ______________________________________________________Bottom Menu ______________________________-->
	<div class="bottommenu">
		
		<p>"<em style="color:#C59E47 ">Quality</em> never goes out of style" <br>
			</p>
		 <img src="../static/image/line.png" alt="line"> <br>
			<div class="footer"> </div>
	</div>
<script src="../static/customer.js" type="text/javascript"></script>
</body>
</html>